<h1>Posts</h1>

<% @posts.each do |post| %>
  <div class="post">
    <!-- Display Post Content -->
    <p><%= post.content %></p>

    <!-- Likes Section -->
    <div class="likes">
      <% if current_user.liked?(post) %>
        <%= button_to 'Unlike', unlike_post_path(post), method: :delete, data: { turbo: true } %>
      <% else %>
        <%= button_to 'Like', like_post_path(post), method: :post, data: { turbo: true } %>
      <% end %>
      <span><%= post.likes.count %> likes</span>
    </div>

    <!-- Comments Section -->
    <div class="comments">
      <h3>Comments</h3>
      <%= form_with(model: [post, post.comments.build], local: true) do |form| %>
        <div class="field">
          <%= form.label :content %>
          <%= form.text_area :content %>
        </div>
        <div class="actions">
          <%= form.submit 'Add Comment' %>
        </div>
      <% end %>

      <ul>
        <% post.comments.each do |comment| %>
          <li><%= comment.content %> - <%= comment.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

