<h1>Feed</h1>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary mb-3' %>
<% end %>

<% @posts.each do |post| %>
  <div class="post">
    <p><%= post.content %></p>

    <div class="likes">
      <% if current_user && current_user.liked?(post) %>
        <%= button_to 'Unlike', post_like_path(post), method: :delete, data: { turbo: true } %>
      <% else %>
        <%= button_to 'Like', post_like_index_path(post), method: :post, data: { turbo: true } %>
      <% end %>
      <span><%= post.likes.count %> likes</span>
    </div>

   <div class="comments" data-controller="comments">
      <h3>Comments</h3>

      <!-- Toggle Button -->
      <button data-target="comments.toggleButton" data-action="click->comments#toggle">Show Comments</button>

      <%= form_with(model: [post, post.comments.build], local: true, data: { controller: "comments", action: "turbo:submit-end->comments#resetForm" }) do |form| %>
        <div class="field">
          <%= form.label :content %>
          <%= form.text_area :content, data: { target: "comments.content" } %>
        </div>
        <div class="actions">
          <%= form.submit 'Add Comment' %>
        </div>
      <% end %>

      <!-- Comments List -->
      <ul data-target="comments.list">
        <% post.comments.each do |comment| %>
          <li><%= comment.content %> - <%= comment.user %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
