
<h1><%= @post.content %></h1>
<!-- Render the post's interests -->
<%= render 'post_interests/post_interest', post: @post %>
<!-- Form for adding a new interest to the post -->
<% if @post.user == current_user %>
  <%= render 'post_interests/form', post: @post %>
 <% end %>

<h2>Likes</h2>
<p>
  <span class="total-likes">
    <i class="fa-solid fa-heart liked-heart"></i> <%= @post.likes.count %>
  </span>
</p>
<!-- Like/Unlike button -->
<% if @post.likes.exists?(user_id: current_user.id) %>
  <%= link_to post_like_path(@post), data: {turbo_method: :delete}, class: 'like-btn unliked' %><i class="fa-regular fa-heart"></i>
<% else %>
  <%= link_to post_like_path(@post), data: {turbo_method: :post}, class: 'like-btn liked' %><i class="fa-solid fa-heart"></i>
<% end %>


<%= link_to 'Back to Posts', posts_path %>


<!-- Copy link of post to clipboard here -->
<div class="copy-to-clipboard" data-controller="clipboard">
  <button data-action="clipboard#copy">Share</button>
</div>
